

<div class="container">
  <div class="jumbotron">
    <h1>Invoice</h1>
  </div>
  <table class="table table-striped">
    <thead>
    <tr>
      <td>Movers * 3</td>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Total Hours 8hr * 34</td>
      <th>$350</th>
    </tr>
    <tr>
      <td>Discount</td>
      <th>$12</th>
    </tr>
    <tr>
      <td>Total</td>
      <th>$346</th>
    </tr>
    <tr>
      <td>{{ mobileNumber }} <a (click)="editMobileNumber(mobileNumber);"><i class="fa fa-edit"></i></a></td>
      <td><button class="btn btn-primary">SMS</button></td>
    </tr>
    <tr>
      <td>{{ editEmailAddress }} <a (click)="editEmailAddress(editEmailAddress);"><i class="fa fa-edit"></i></a></td>
      <td><button class="btn btn-primary">E-Mail</button></td>
    </tr>
    </tbody>
  </table>
</div>
